@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v40-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('fonts/open-sans-v40-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
body {
	margin: 0;
	font-family:'Open Sans', Helvetica, Arial;
	min-height:100%;
	height: 100vh;
	background:fixed radial-gradient(circle, #000000ff 0%, #0f2440ff 100%);
	background-size:cover;
}
input {
	border-radius:6px;
}
code {
    color:#a5caff;
    /*background-color:#f7f7f7;*/
    padding:1px;
}
form {
	margin:0;
	padding:0;
}
summary {
	color:#FF0084;
	font-weight:bold;
	border-bottom:1px solid #ddd;
	padding-bottom:8px;
	cursor:pointer;
}
summary::marker {
	color:black;
}
details {
	border:1px solid #ddd;
	border-top:0;
	padding:8px;
}
